* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 500px;
  height: 500px;
  background-color: greenyellow;
}

.container .accordions {
  width: 350px;
  height: 350px;
  margin: 15px;
  background-color: blueviolet;
  padding: 32px;
}

.accordion {
  background-color: white;
  border: 2px solid white;
  padding: 32px;
}

.accordion .question {
  color: red;
  background-color: black;
  font-weight: bold;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.accordion .question::before {
  content: "+";
  position: absolute;
  right: 10%;
  font-size: 20px;
}

.accordion .answer {
  color: blue;
  font-weight: bold;
  padding: 10px;
  display: none;
}

.accordion.active .answer {
  display: block;
}

.accordion.active .question::before {
  content: "-";
  font-size: 20px;
  top: 10%;
}
